html {
    font-family: 'VT323', monospace;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

.sr-only{
    visibility: hidden;
    position: absolute;
    z-index: -4000;
    top: -5000;
}

body {
    width: 100vw;
    height: 100vh;

    background-image: radial-gradient(white, rgb(131, 131, 201));
}

.jsdex-container {
    height: 607.5px;
    width: 430px;

    position: absolute;
    top: 50vh;
    left: 50vw;

    transform: translate(-50%, -50%);

    background-image: url("../img/jsdex_open.png");
    background-size: cover;
    background-position: center;
}

/*----- Screen*/

[id$="screen"]{
    display: flex;
    flex-direction: column;

    position: absolute;
    overflow: hidden;
}

#jsdex-screen {
    align-items: center;
    
    width: calc(465px /2);
    height: calc(320px /2);

    top: 210px;
    left: 91px;

    background-color: azure;
    transition: all 0.2s;

    transform-origin: center center;

    /* Initial Config */
    transform: scale(1,0);
}

#sub-screen{
    justify-content: center;
    visibility:hidden;
    
    top: 481px;
    left: 106px;
    
    width: calc(250px /2);
    height: calc(180px /2);

    background-color: #00AA5A;
    border-radius: 0 0 12px 0;
}

#sub-screen #selected{
    display: flex;
    align-items: center;
}

#sub-screen *{
    margin-left: 2px;
}

#sub-screen #selected img{
    width: 10px;
    height: 10px;
}

#jsdex-close {
    background-image: url("../img/jsdex_close.png");
}

/* Buttons */
button:hover {
    cursor: pointer;
}

#power {
    position: absolute;
    top: 384px;
    left: 86px;

    background: none;

    width: 19px;
    height: 14px;
}

.arrow{
    position: absolute;
    width: 49px;
    height: 31px;
    background: none;
}

#key-up{
    top: 451px;
    left: 287px;
}

#key-down{
    top: 537px;
    left: 287px;
}
